<div class="wraper">
  <form class="center-page" autocomplete="off" novalidate [formGroup]="loginForm" (ngSubmit)="login()" >
    <img src="assets/img/flat-avatar.png" />
    <h1 class="title">LORI</h1>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" [formControl]="password" matInput placeholder="Password" required>
      <mat-error *ngIf="password.hasError('required')">Please enter password</mat-error>
    </mat-form-field>
    <mat-error class="error-summary" *ngIf="error">Invalid login.</mat-error>
    <button mat-raised-button type="submit" [disabled]="loginForm.invalid"> Log in </button>
  </form>
</div>




