.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form {
  // height: 100%;
  // margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 420px) {
  .wraper {
    height: 100%;
  }

  mat-form-field, .error-summary {
    width: 300px;
  
  }

}

@media (max-width: 1960px) and (min-width: 421px) {
  .wraper {
    height: 80%;
  }
  
  mat-form-field, .error-summary {
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

img {
  width: 100px;
  align-self: center;
}


.title {
  text-align: center;
}

button {
  margin-top: 10px;
  width: 25%;
  align-self: center;
  background-color: #248f24;
  color: white;
}

