.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form, .password-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 420px) {
  .wraper {
    height: 100%;
  }

  mat-form-field, .error-summary, .btn-action {
    width: 300px;
  
  }

}

@media (max-width: 1960px) and (min-width: 421px) {
  .wraper {
    height: 80%;
  }
  
  mat-form-field, .error-summary, .btn-action {
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

img {
  width: 100px;
  align-self: center;
}


.title {
  text-align: center;
}

.submit-button {
  // margin-top: 10px;
  // width: 25%;
  // align-self: center;
  // background-color: #248f24;
  // color: white;
  margin-right: 5px;
}

.btn-action {
  margin-top: 20px;
}

