<form class="form-wrapper" autocomplete="off" [formGroup]="newEmployeeForm" novalidate (ngSubmit)="save()">
  <h3 class="title">Register New Employee</h3>
  <div class="user-new-container">
    <div class="colum-1">

      <!-- first name -->
      <mat-form-field appearance="standard">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="newEmployeeForm.get('firstName').hasError('required')">
          First name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- last name -->
      <mat-form-field appearance="standard">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="newEmployeeForm.get('lastName').hasError('required')">
          Last name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- position -->
      <mat-form-field appearance="standard">
        <mat-label>Position</mat-label>
        <mat-select placeholder="Poistion" formControlName="employeePosition" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let position of positions" [value]="position.id">
            {{ position.name }}
          </mat-option>
        </mat-select>
        <mat-hint></mat-hint>
        <mat-error *ngIf="newEmployeeForm.get('employeePosition').hasError('required')">
          Position is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="newEmployeeForm.get('employeePosition').hasError('pattern') && !newEmployeeForm.get('employeePosition').hasError('required')">
          Your selection is invalid
        </mat-error>

      </mat-form-field>

      <!-- employee id -->
      <mat-form-field appearance="standard">
        <mat-label>Employee Id</mat-label>
        <input matInput placeholder="Employee id" formControlName="employeeId" required>
        <mat-error *ngIf="newEmployeeForm.get('employeeId').hasError('required')">
          Employee id is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- national id -->
      <mat-form-field appearance="standard">
        <mat-label>National Id</mat-label>
        <input matInput placeholder="National id" formControlName="nationalId">
      </mat-form-field>

      <!-- home office -->
      <mat-form-field appearance="standard">
        <mat-select placeholder="Home Office" formControlName="homeOffice" [errorStateMatcher]="matcher" required>
          <mat-option *ngFor="let branch of branches" [value]="branch.id">
            {{ branch.name }}
          </mat-option>
        </mat-select>
        <mat-hint></mat-hint>
        <mat-error *ngIf="newEmployeeForm.get('homeOffice').hasError('required')">
          Home office is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="newEmployeeForm.get('homeOffice').hasError('pattern') && !newEmployeeForm.get('homeOffice').hasError('required')">
          Your selection is invalid
        </mat-error>
      </mat-form-field>
    </div>


    <div class="colum-2">

      <!-- primary phone -->
      <mat-form-field appearance="standard">
        <mat-label>Primary Phone</mat-label>
        <input matInput placeholder="Primary phone" formControlName="primaryPhone">
      </mat-form-field>

      <!-- secondary phone -->
      <mat-form-field appearance="standard">
        <mat-label>Secondary Phone</mat-label>
        <input matInput placeholder="Secondary phone" formControlName="secondaryPhone">
      </mat-form-field>

      <!-- application role -->
      <mat-form-field appearance="standard">
        <mat-label>Roles</mat-label>
        <mat-select placeholder="Role" formControlName="roles" multiple required required>
            <mat-option *ngFor="let role of roles" [value]="role.id">
                {{ role.name }}
              </mat-option>
        </mat-select>
        <mat-hint></mat-hint>
        <mat-error *ngIf="newEmployeeForm.get('roles').hasError('required')">
          Role is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="newEmployeeForm.get('roles').hasError('pattern') && !newEmployeeForm.get('roles').hasError('required')">
          Your selection is invalid
        </mat-error>
      </mat-form-field>

      <!-- email -->
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" formControlName="email" required [errorStateMatcher]="matcher">
        <mat-hint></mat-hint>
        <mat-error *ngIf="newEmployeeForm.get('email').invalid && !newEmployeeForm.get('email').errors?.required">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="newEmployeeForm.get('email').hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- password group -->
      <div formGroupName="passwordGroup" class="password-group">

        <!-- password -->
        <mat-form-field appearance="standard">
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput placeholder="Password" required [errorStateMatcher]="matcher">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint></mat-hint>
          <mat-error *ngIf="newEmployeeForm.get('passwordGroup').invalid && newEmployeeForm.get('passwordGroup.password').hasError('required')">
            Password is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newEmployeeForm.get('passwordGroup').invalid && newEmployeeForm.get('passwordGroup.password').hasError('minlength')">
            Password is
            <strong> 8 </strong> characters minimums.
          </mat-error>

        </mat-form-field>

        <!-- confirm password -->
        <mat-form-field appearance="standard">
          <input [type]="hidePasswordConfirmed ? 'password' : 'text'" formControlName="confirmedPassword" matInput placeholder="Confirm Password"
            required [errorStateMatcher]="parentMatcher">
          <mat-icon matSuffix (click)="hidePasswordConfirmed = !hidePasswordConfirmed">{{hidePasswordConfirmed ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint></mat-hint>
          <mat-error *ngIf="newEmployeeForm.get('passwordGroup').hasError('match') &&
            !newEmployeeForm.get('passwordGroup.confirmedPassword').errors"> Password does not
            <strong>match</strong>
          </mat-error>
          <mat-error *ngIf="newEmployeeForm.get('passwordGroup.confirmedPassword').hasError('required')"> Password is
            <strong>required</strong>
          </mat-error>

        </mat-form-field>
      </div>

    </div>

    <div class="footer">
      <button mat-raised-button>
        <mat-icon>cancel</mat-icon> Cancel
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Save
      </button>
    </div>

  </div>


</form>